*{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif 
}

body{
    background: url(GettyImages-2166462891_WEB.webp) center fixed no-repeat;
    background-size: cover;
}
header{
    background-color: rgba(37, 37, 37, 0.315);
    justify-content: center;
    display: flex;
}

header:hover{
    background-color: rgba(54, 54, 54, 0.384);
}

img{
    display: flex;
    width: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

ul{
    color: rgb(76, 154, 255);
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 300px;
    list-style-type: none;
}
li:hover{
    color:white;
    font-size: 20px;
    cursor:pointer;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
section{
    display: flex;
    justify-content: space-around;    
}
h1{
    color: rgb(76, 154, 255);
    position: absolute;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.425);
    font-size:50px;
}

span{
    position: absolute;
    margin-top: 100px;
    background:rgba(37, 37, 37, 0.315);
    width: 1000px;
    height:200px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 24px;
    box-shadow: 0px 0px 5px white;
}

div{
    margin: 5px;
    width: 100px;
    height: 100px;
    background: rgba(37, 37, 37, 0.315);
    border: 1px solid white;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px white;
}

div:hover{
    animation: mydiv 0.1s ;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes mydiv{
    from{width: 100px;    height: 100px;}
    to{width: 110px; height: 110px;}
}

span div img{
    border-radius: 24px;
    
}
